<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
        <div class="limiter">

                
                
                <nav class="nav-menu nav navbar-nav">
                        <div class="nav-logo">
                                <a href="/" class="logo"> <img src="static/img/logo.png" alt="Logo"></a>
                            </div>
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                          
                        
                        <li>Hello, {{user.name}}</li> 
                       
                    </ul>
                    <ul style="align-content: space-between; ">
                        
                            <li class="cat-1"><a href="logout">Logout</a></li>
                            
                            <li><a href="create_video">Create Ticket</a></li>
                            
                            <li><a href="list_video">My Uploads</a></li>
                           
                           
                    </ul>
                </nav>
                
            
        </div>
	<div class="limiter">
		<div class="container-login100">
                <div>
						{% for message in messages%}
							<h1>  {{message}} </h1>
						{%endfor%}
				</div>
            <div class="login100-pic js-tilt" data-tilt>
					<img src="static/images/img-01.png" alt="IMG">
				</div>
                

		</div>
	</div>
	
	


</body>
</html>